main{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

button, .btn-secondary {
  background-color: #269199; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  font-size: 1em; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

button:hover, .btn-secondary:hover {
  background-color: #269199; /* Cor de fundo ao passar o mouse */
}

button:active, .btn-secondary:active {
  background-color: #269199; /* Cor de fundo ao clicar */
}

button:focus, .btn-secondary:focus {
  outline: none; /* Remove o contorno ao focar */
  box-shadow: 0 0 0 2px rgba(72, 187, 120, 0.5); /* Adiciona um contorno suave ao focar */
}