body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: linear-gradient(
      120deg,
      rgba(240, 234, 234, 0.7),
      rgba(229, 217, 217, 0.7)
    ),
    url("assets/images/background.jpg") center/cover no-repeat;
}

header {
  background: #020305;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  padding: 1rem; /* Adiciona padding ao header */
  height: 2rem;
}

header a {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Define a cor do texto */
}

header a:visited {
  color: white; /* Define a cor do texto após o link ser visitado */
}

header a:hover {
  color: #58AFB8; /* Define a cor do texto ao passar o mouse */
}

header a:active {
  color: #58AFB8; /* Define a cor do texto ao clicar */
}

.login a {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Define a cor do texto */
}

.login a:visited {
  color: white; /* Define a cor do texto após o link ser visitado */
}

.login a:hover {
  color: #fff; /* Define a cor do texto ao passar o mouse */
}

.login a:active {
  color: #ccc; /* Define a cor do texto ao clicar */
}

.register a {
  text-decoration: none; /* Remove o sublinhado */
  color: white; /* Define a cor do texto */
}

.register a:visited {
  color: white; /* Define a cor do texto após o link ser visitado */
}

.register a:hover {
  color: #fff; /* Define a cor do texto ao passar o mouse */
}

.register a:active {
  color: #ccc; /* Define a cor do texto ao clicar */
}

.logo{
  width: 100px;
  height: auto;
}

.login, .register {
  display: inline-block; /* Ajusta o tamanho ao conteúdo */
  padding: 0.5rem 1rem; /* Adiciona padding aos elementos */
  border-radius: 5px;
  color: white;
}


.login {
  background-color: #269199;
}

.register {
  background-color: transparent;
  border: 1px solid #269199; /* Adiciona uma borda ao register */
}



.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 6rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: rem;
  gap: 1rem;
}




header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 4rem);
  background-color: #F5F5F5;
}

.cta1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4 rem;
  width: 100%;
  background-color: white;
}

.cta1-text, .cta1-image {
  flex: 1; /* Distribui o espaço igualmente entre os elementos */
  padding: 4rem;
  height: 100%;
}

.cta1-text{
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  text-align: justify;
  gap: 8rem;
  height: 100%;
}

.cta1-text h1{
  color: #EC225E;
  font-size: 2rem;
}

.cta1-text p{
  color: #020305;
  font-size:medium;
}

.cta1-text button{
  background-color: #269199;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.cta1-image img {
  width: 350px;
  height: auto;
  object-fit: cover;
}

footer {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
  gap: 3rem;
}

.services-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
}

.services-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.services-card img{
  width: 300px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer p {
  margin: 0;
}

@keyframes slide-in {
  0% {
    background-image: url("../images/profession1.jpg");
  }
  33% {
    background-image: url("../images/profession2.jpg");
  }
  66% {
    background-image: url("../images/profession3.jpg");
  }
  100% {
    background-image: url("../images/profession1.jpg");
  }
}
*/ body {
  animation-duration: 15s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 50%;
  margin-bottom: 2rem;
}

form label {
  font-size: 1.5rem;
}

form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #269199;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.professionals-table{
  background-color: #fff;
}

.professionals-table th, .professionals-table td {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.professionals-table a {
  text-decoration: none; /* Remove o sublinhado */
  color: #58AFB8; /* Define a cor do texto */
}

.professionals-table a:visited {
  color: #58AFB8; /* Define a cor do texto após o link ser visitado */
}

.professionals-table a:hover {
  color: #58AFB8; /* Define a cor do texto ao passar o mouse */
}

.professionals-table a:active {
  color: #58AFB8; /* Define a cor do texto ao clicar */
}

.profile-info{
  text-align: justify;
}

